<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/autoskola/">Domů <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autoskola/odpoved-create">Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autoskola/statistiky">Statistiky</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autoskola/znacky">Značky</a>
        </li>
        <!--
          <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        -->
      </ul>
    </div>
  </nav>