{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block content %}
<div class="p-4">
  <p><b>{{ otazka.id }}. {{ otazka.otazka }}</b></p>
  {% if otazka.obrazek %}
  <img src={{ otazka.obrazek.url }} alt={{ otazka.obrazek.url }}>
  {% endif %}
  <p><b>A: <span>{{ otazka.odpoved_a }}</b></span></p>
  <p><b>B: <span>{{ otazka.odpoved_b }}</b></span></p>
  {% if otazka.odpoved_c %}
  <p><b>C: <span>{{ otazka.odpoved_c }}</b></span></p>
  {% endif %}
</div>

<form method="POST" action="/autoskola/odpoved-create">
  {% csrf_token %}
  <input id="otazka" type="text" name="otazka" value="{{ otazka.id }}">
  <label for="odpoved">Vaše odpověď </label>
  <input id="odpoved" type="text" name="odpoved" value="">

  <input type="submit" value="Submit">
</form>
{% endblock %}