{% extends "base.html" %}
<script>
{% block script %}
    const endpoint = '/autoskola/data'
    let defaultData = []
    let labels = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels
            defaultData = data.default
            setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })
function setChart(){
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Votes',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

{% endblock %}
</script>

{% block style %}<style>
    th, td {
        max-width: 10px !important;
        max-height: 1px !important;
    }
</style>{% endblock style %}

{% block title %}Statistiky{% endblock %}


{% block headline %}<h1 class="text-center p-3">Statistiky</h1>{% endblock %}


{% block content %}
<canvas id="myChart" width="400" height="400"></canvas>

{% endblock %}

